UI/twitter.yedda/twitter_friends.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:unsignedInt" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="screen_name" type="xs:string" />
              <xs:element name="location" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="profile_image_url" type="xs:string" />
              <xs:element name="url" type="xs:string" />
              <xs:element name="protected" type="xs:boolean" />
              <xs:element name="followers_count" type="xs:unsignedInt" />
              <xs:element name="profile_background_color" type="xs:string" />
              <xs:element name="profile_text_color" type="xs:string" />
              <xs:element name="profile_link_color" type="xs:string" />
              <xs:element name="profile_sidebar_fill_color" type="xs:string" />
              <xs:element name="profile_sidebar_border_color" type="xs:string" />
              <xs:element name="friends_count" type="xs:unsignedShort" />
              <xs:element name="created_at" type="xs:string" />
              <xs:element name="favourites_count" type="xs:unsignedShort" />
              <xs:element name="utc_offset" type="xs:string" />
              <xs:element name="time_zone" type="xs:string" />
              <xs:element name="profile_background_image_url" type="xs:string" />
              <xs:element name="profile_background_tile" type="xs:boolean" />
              <xs:element name="statuses_count" type="xs:unsignedShort" />
              <xs:element name="notifications" type="xs:boolean" />
              <xs:element name="geo_enabled" type="xs:boolean" />
              <xs:element name="verified" type="xs:boolean" />
              <xs:element name="following" type="xs:boolean" />
              <xs:element minOccurs="0" name="status">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="created_at" type="xs:string" />
                    <xs:element name="id" type="xs:unsignedLong" />
                    <xs:element name="text" type="xs:string" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="truncated" type="xs:boolean" />
                    <xs:element name="in_reply_to_status_id" type="xs:string" />
                    <xs:element name="in_reply_to_user_id" type="xs:string" />
                    <xs:element name="favorited" type="xs:boolean" />
                    <xs:element name="in_reply_to_screen_name" type="xs:string" />
                    <xs:element name="geo" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>